*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-link{
    font-size: 20px;
}
.items:hover{
    background-color:lightgray;
}
.explore-btn{
    border-radius: 40px;
    background-color:orangered;
    color: white;
    border-color: orangered;
}
.explore-btn:hover{
    background-color: lightpink;
}
.info{
    margin-top: 15%;
}
.img{
    margin-left: 30px;
    
}
.img:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 4px 4px #e9ecef;
    transition: all 0.2s ease;
    cursor: pointer
}
hr {
    border: 5px solid red;
    width: 10%;
    border-radius: 5px;
    
} 
.title{
    position: relative;
}
.card{
    transition: all 0.2s ease;
    cursor: pointer
}
.card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}
.watch{
    margin-left: 8%;
}
.watch-info{
    margin-top: 8%;
}
.test
{
padding:20px 20px;
}
.test-img
{
width: 50px;
border-radius: 50%;
margin-top: 20px;
}
.card-img-top:hover
{

transform: translateY(-10px);
}
.card-img-top
{
transition: transform 0.6s;
}

.test .col-4
{
margin-top: 5%;
text-align: center;
padding: 20px;
box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
transition: transform 0.6s;
}

.test .col-4:hover
{
transform: translateY(-10px);
}
.fa-quote-left
{
font-size: 32px;
color: orangered;
padding: 20px;
}
.rates{
    color: orangered;
}
.brands{
    margin: 100px auto;
}

.brands img{
    cursor: pointer;
    filter: grayscale(100%);
}

.brands img:hover{
    filter: grayscale(0);
}
.h3-profile{
    padding-top: 20px;
}
.band{
    background-color: lightpink;
    padding-bottom: 40px;
    margin-top: 5%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: lightpink;
}
.footer-link{
font-size: 30px;
color:orangered;
padding: 10px;
}
.footer-link:hover{
    color: lightpink;
}
.footer{
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}
.footer-title{
    font-size: 20px;
    font-weight: bold;
}
.footer-p{
    padding-top:20px;
}
.footer-hr{
    border: 1px solid white;
    width: 100%;
    border-radius: 5px;
}
.page-link:hover{
    background-color: lightpink;
    color: white;
}
.page-link{
    color: black;
}
.page-arrow{
    color: black;
}
.product-details-link{
    text-decoration: none;
    color: orangered;
}